.profile {
    border-radius: 50%;
}
.table1 {
    border: solid red 1px;
}
p {
    color: rgb(0, 0, 211);
}
.table2 {
    border: dashed red 2px;
}
h3 {
    color: rgb(115, 0, 255);
}
body{
    background-color: #94e9fe;
}